@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

.auth-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

.auth-inner{
    display: flex;
    height: 70%;
    width: 1100px;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    transition: all .3s;
}

.auth-wrapper .form-control:focus {
    border-color: #167bff;
    box-shadow: none;
  }
  
  .custom-control-label {
    font-weight: 400;
  }

.form{
    width: 400px;
}

.form img{
    width: 150px;
}

.login-title{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 30px;
}

.login-title h3{
    padding-bottom: 0;
}

.login-options{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.login-options a{
    text-decoration: none;
}

.login-options div{
    height: 30px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;
    transition: all .3s;
}

.login-options div:hover{
    color: #535353;
    transform: translateY(-2px);
    transition: 0.4s ease;
}

.login-options label{
    font-family: Poppins,Helvetica,Arial,sans-serif;
    font-size: 14px;
}

.social-icon{
    margin-right: 13px;
}

.google-div{
    background-color: #34A853;
}

.facebook-div{
    background-color: #4867AA;
}

.twitter-div{
    background-color: #2AA9E0;
}

.form-control-input{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 1rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    margin-top: 20px;
}

.form-control-input:focus, input:focus{
    outline: none;
}

.custom-checkbox{
    margin-top: 10px;
}

.custom-checkbox label{
    font-family: Poppins,Helvetica,Arial,sans-serif;
    font-weight: 300;
    margin-left: 10px;
}


.btn-primary{
    background: #04943c !important;
    font-family: Poppins,Helvetica,Arial,sans-serif;
    width: 100%;
    border-radius: 20px;
    margin-top: 15px;
}

.btn-primary:hover{
    background: #026925 !important;
}

.icon{
    display: inline;
    justify-content: center;
}

.icon img{
    width: 350px;
}

.icon p{
    margin-top: 10px;
    font-family: Poppins,Helvetica,Arial,sans-serif;
    font-weight: 400;
}

.forgot-password,
.forgot-password a {
    font-family: Poppins,Helvetica,Arial,sans-serif;
    text-align: right;
    font-size: 13px;
    padding-top: 10px;
    color: #7f7d7d;
    margin: 0;
}

.forgot-password a {
    color: #167bff;
}

@media (max-width: 1023px){
    .auth-wrapper{
        align-items: center;
    }

    .auth-inner{
        position: absolute;
        bottom: 0;
        display: flex;
        padding: 0;
        justify-content: center;
        align-content: center;
        width: 90%;
        border-radius: 15px
    }

    .form{
        width: 80%;
        padding: 0 10px;
        justify-content: center;
        align-items: center;
    }

    .form img{
        width: 200px;
        bottom: 84%;
        position: absolute;
    }

    .form-control-input{
        margin-top: 20px;
    }

    .login-options div{
        height: 30px;
        width: 100%;
        padding: 10px;
    }

    .icon img{
        display: none;
    }
}

@media (max-width: 587px){
    .social-icon{
        margin-right: 0;
    }
    .login-options{
        justify-content: space-between;
    }
    .login-options div{
        width: 70px;
    }
    .login-options label{
        display: none;
    }
}
